.typingtest {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.textletter {
    font-size: 32px;
    color: rgb(158, 158, 158);
}

.hiddeninput {
    opacity: 0;
}

.statsdiv {
    margin-top: 100px;
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    font-size: 25px;
    width: 100%;
}

.retake {
    background-color: #525252;
    padding: 5px;
    border-radius: 3px;
    width: 150px;
    cursor: pointer;
}

.cursor {
    position: relative;
    transition: all 0.2s ease-in-out; /* Smooth transition for the cursor */
  }
  
  .cursor::after {
    content: "";
    position: absolute;
    left: -1px;
    border-left: 1px solid white;
    height: 1.2em; /* Adjust height to match the letter size */
    animation: blink 0.7s steps(1) infinite;
    transition: all 0.2s ease-in-out; /* Smooth transition for the cursor */
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  