.typingtest {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.textletter {
    font-size: 32px;
    color: rgb(158, 158, 158);
}

.hiddeninput {
    opacity: 0;
}

.statsdiv {
    margin-top: 100px;
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    font-size: 25px;
    width: 100%;
}

.retake {
    background-color: #525252;
    padding: 5px;
    border-radius: 3px;
    width: 150px;
    cursor: pointer;
}